{% extends "base.html" %}

{% block body %}
<div class="site">
  <header class="header-container">
    {% block header %}
    {% set active_page = active_page|default("tasks") -%}
    
    <nav id="navmenu">
      <ul class="main-menu">
        {% for href, id, caption in navbar() %}
        <li>
          <a href="{{ href }}"
             class="{{ 'current' if id == active_page else '' }}">
            {{ caption }}
          </a>
        </li>
        {% if not loop.last %}<li>|</li>{% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% endblock %}
  </header>
  <main class="main">
    {% block content %}
    {% endblock %}
  </main>
</div>
{% endblock %}
