{% extends "layout.html" %}

{% block content %}
{% for group in deadlines.open_groups %}
<div class="group">
  <div class="group-header">
    <h1 class="timer">[{{ group.pretty_deadline }}] {{ group.name }}</h1>
  </div>
  <div class="group-tasks">
  {% for task in group.tasks %}
    {% if task.url %}
    <a href="{{ task.url }}">
    {% else %}
    <a href="{{ task_base_url }}/{{ task.name }}/">
    {% endif %}
      <div class="task {{ 'solved' if task.name in solved else 'unsolved' }}">
        <div class="name">{{ task.name }}</div>
        <div class="score">{{ task.score }}</div>
      </div>
    </a>
  {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}
